<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>活动报名</title>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" href="css/ui-base.css">
	<link rel="stylesheet" href="css/ui-box.css">
	<link rel="stylesheet" href="css/ui-color.css">
</head>
<body>
	<div class="bj">
		<div style="width: 30%;margin: 0 auto;padding-top: 3em;">
	    	<img src="images/logo.png" style="width:100%">
	    </div>
		<div class="form-login">
			<div class="mt1 inputbg">
				<p class="name"><input type="text" id="name"></p>
			</div>
			<div class="mt1 inputbg">
				<p class="pwd"><input type="text" id="pwd"></p>
			</div>
		    <!-- <div class="btn" style="margin: 2.5em 0 0 0;" id="submit">提交</div> -->
		    <div style="width: 40%;margin: 2em auto;"  id="submit">
		    	<img src="images/login.png" style="width:100%">
		    </div>
		</div>
		<div style="bottom: 2em;position: fixed;">
	    	<img src="images/word.png" style="width:100%">
	    </div>
	</div>

</body>
<script charset="utf-8" type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script charset="utf-8" type="text/javascript" src="js/util.js"></script>
<script type="text/javascript">
	$("#submit").click(function(){
		var p1=$("#name").val();
		var p2=$("#pwd").val();
		if(Util.isEmpty(p1)){
			Util.info("请输入账户");
			return;
		}
		if(Util.isEmpty(p2)){
			Util.info("请输入密码");
			return;
		}
		location.href="loginsuccess.html"
	})
</script>
</html>