<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>{$Think.config.title}</title>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <include file="public:css_" />    
</head>
<body>
	<div class="bj">
		<div>
	        <div class="ub ub-ver ub-ac ub-pc c4">
	        	<img src="{$img}" class="setimg">
	        	<div class="ulev2">{$name}</div>
	        	<div>{:mobile_asterisk($tel)}</div>
	        </div>
	    </div>
	    <div class="mt1">
	    	<div class="mglr ulev1 uc-a bd c4">
	    		<div class="bb1">
	    			<p class="pd mg dib br1 pr1">商&nbsp;&nbsp;&nbsp;&nbsp;品</p>
	    			<span class="wordbr">{$product}</span>
	    		</div>
	    		<div>
	    			<p class="pd mg dib br1 pr1">折扣价</p>
	    			<span><span>{$score}</span>分</span>
	    		</div>
	    	</div>
	    </div>
	    <div class="mt1">
			<if condition="$status eq 1">
				<!-- <div class="btn" id="pay">确认支付</div> -->
				<img src="{$Think.config.static_path}images/pay.png" style="width:50%;margin:10% 25%" id="pay">
			<else/>
				<div class="btnout" id="payok"><p class="btnin">{$info}</p></div>
				<a href="__URL__/orderList?sid={$sid}"><div class="btnout"><p class="btnin">查询订单</p></div></a>
			</if>
			<div class="btnout2 hide" id="payok"><p class="btnin2">已支付</p></div>
			<a href="__URL__/orderList?sid={$sid}"><div class="btnout hide" id="order"><p class="btnin">查询订单</p></div></a>
	    </div>
<!-- 	    <div class="pay-fade hide">
		    <div class='ub ub-ver ub-ac ub-pc pdt2'>
		    	<img src="images/yes.png" style="width:3em">
		    	<div class="c4 pdtb ulev2">支付成功</div>
		    </div>
	    </div> -->
	</div>
<input type="hidden" name="qid" id="qid" value="{$qid}">
<input type="hidden" name="url" id="url" value="{$url}">
</body>
<include file="public:js_" />  
<script type="text/javascript">
	var qid = $("#qid").val();
	var url = $("#url").val();
	$("#pay").click(function(){
		Util.showmsg('确定后将扣除您的相应积分','','','confirm',qid,url)
	})
</script>
</html>